.NodeView {
  text-align: left;
  background-color: #444;
  width: 100%;
  height: 1024px;
  user-select:none;
  border: 1px solid #666;
}

.MNode .NodeView {
  height: 200px;
  width: 500px;
  cursor: default;
}

.MNode {
  display:inline-block;
  background-color:#777;
  border-radius: 4px;
  position:absolute;
  cursor:grab;
}

.MNode:active {
  cursor:grabbing;
  z-index:1000;
}

img {
  vertical-align: bottom;
}

.CallName:hover {
  background-color: #D51;
}

.CallName {
  background-color: #333;
  color: white;
  padding: 4px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.CallName.Function {
  border-radius: 4px 4px 0px 0px;
  padding: 8px;
}

.Link * {
  stroke: orange;
  fill:   orange;
}

.LinkLine {
  stroke-width: 3px;
}

.Link *:hover {
  stroke: #ffdd00;
  fill:   #ffdd00;
}

.LinkLine.Partial {
  stroke-dasharray: 5,5;
}

.PortGroup {
  padding: 0px;
  margin: 0px;
}

.SourcePortGroup {
  text-align: right;
}

.Port {
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
  cursor: default;
}

.PortConfig {
  padding: 2px;
  margin: 2px;
  cursor: default;
}

.Port:hover {
  background-color:#fa0;
}

.Port.Sink {
  margin-right: 0px;
}

.Port.Source {
  margin-left: 0px;
}

.Port.Connected {
  background-color: orange;
  border: 2px solid orange;
  margin: 0px;
}

.NewNodeDialog {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #666;
  border: 1px solid #AAA;
  border-radius:3px;
}

.NewNodeDialog > *:active {
  background-color: blue;
}

.SelectionListElement.Selected > * {
  background-color: #ffdd00;
}