.NodeView {
  text-align: left;
  background-color: #d0d0d0;
  width: 100%;
  height: 1024px;
  user-select:none;
  border: 4px solid white;
}

.MNode .NodeView {
  height: 200px;
  width: 500px;
  cursor: default;
}

.MNode {
  display:inline-block;
  background-color:white;
  border-radius: 4px;
  position:absolute;
  cursor:grab;
}

.MNode:active {
  cursor:grabbing;
  z-index:1000;
}

img {
  vertical-align: bottom;
}

.CallName {
  background-color: white;
  color: black;
  padding: 4px;
  font-family: helvetica;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.FunctionNode > .CallName {
  border-radius: 4px 4px 0px 0px;
}

.Link * {
  stroke: #888888;
  fill:   #888888;
}

.LinkLine {
  stroke-width: 3px;
}

.Link *:hover {
  stroke: #f75100;
  fill:   #f75100;
}

.LinkLine.Partial {
  stroke-dasharray: 5,5;
}

.PortRack {
  padding: 0px;
  margin: 0px;
  text-align: center;
  width: 100%;
}

.Port {
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
  cursor: default;
}

.PortConfig {
  padding: 2px;
  margin: 2px;
  cursor: default;
  position: absolute;
  right: 0px;
}

.Port:hover {
  background-color:#f75100;
}

.Port.Connected {
  background-color: #888888;
  border: 2px solid #888888;
  margin: 0px;
}

.OverlayDialog {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  border: 3px solid #f75100;
  border-radius:3px;
}

.SelectionListElement.Selected > * {
  background-color: #f75100;
  color: white;
  width: 100%;
}

.SelectedGraphElement {
  outline: 1px dashed black;
}

.SelectedGraphElement:focus {
  outline: 3px dashed #f75100;
}

input {
  margin: 4px;
  padding: 3px;
  background-color: white;
  border: none;
  border-radius:3px;
  color:black;
  font-family: helvetica;
  font-size: 13px;
}

.LiteralNode > input {
  width: 6em;
}

.Handle {
  background-color: #D51;
  border-radius: 3px 0px 0px 3px;
  width: 20px;
  height: 100%;
  display: inline-block;
}